In [ ]:
import pandas as pd
import numpy as np

# 1. Input Dataset

In [ ]:
# input data
url = ''
df = pd.read_csv('https://raw.githubusercontent.com/datasets/breast-cancer/master/data/breast-cancer.csv')

# Menampilkan data
df.head()

,age,mefalsepause,tumor-size,inv-falsedes,falsede-caps,deg-malig,breast,breast-quad,irradiat,class
0,40-49,premefalse,15-19,0-2,True,3,right,left_up,False,recurrence-events
1,50-59,ge40,15-19,0-2,False,1,right,central,False,false-recurrence-events
2,50-59,ge40,35-39,0-2,False,2,left,left_low,False,recurrence-events
3,40-49,premefalse,35-39,0-2,True,3,right,left_low,True,false-recurrence-events
4,40-49,premefalse,30-34,3-5,True,2,left,right_up,False,recurrence-events

# 2.Menampilkan Informasi Data

In [ ]:
# menampilkan informasi data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           272 non-null    object
 1   mefalsepause  272 non-null    object
 2   tumor-size    272 non-null    object
 3   inv-falsedes  272 non-null    object
 4   falsede-caps  264 non-null    object
 5   deg-malig     272 non-null    int64
 6   breast        272 non-null    object
 7   breast-quad   271 non-null    object
 8   irradiat      272 non-null    bool
 9   class         272 non-null    object
dtypes: bool(1), int64(1), object(8)
memory usage: 19.5+ KB

# 3. Cek Deret yang kosong

In [ ]:
# Mengecek apakah ada deret yang kosong
df.empty

False

# 4. Melihat ukuran Data

In [ ]:
# Melihat ukuran dari data
df.size

2720

# Menentuka Variable independen dan dependen

In [ ]:
# Variabel independen
x = df.drop(["mefalsepause"], axis = 1)
x.head()

,age,tumor-size,inv-falsedes,falsede-caps,deg-malig,breast,breast-quad,irradiat,class
0,40-49,15-19,0-2,True,3,right,left_up,False,recurrence-events
1,50-59,15-19,0-2,False,1,right,central,False,false-recurrence-events
2,50-59,35-39,0-2,False,2,left,left_low,False,recurrence-events
3,40-49,35-39,0-2,True,3,right,left_low,True,false-recurrence-events
4,40-49,30-34,3-5,True,2,left,right_up,False,recurrence-events

In [ ]:
# Variabel dependen
y = df["mefalsepause"]
y.head()

0    premefalse
1          ge40
2          ge40
3    premefalse
4    premefalse
Name: mefalsepause, dtype: object

# 5.Klasifikasi

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [ ]:
# Convert string to numeric values using one-hot encoding
df = pd.get_dummies(df, columns=['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps', 'deg-malig', 'breast', 'breast-quad', 'irradiat'])

NameError: ignored

In [ ]:
# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
nbtrain = modelnb.fit(x_train, y_train)
nbtrain.class_count_

ValueError: ignored